.news {
  width: 12rem;
  margin: 0 auto;
  padding-bottom: 1rem;
  .search {
    width: 12rem;
    height: 0.52rem;
    margin-top: 0.8rem;
    background: #0e2133;
    display: flex;
    .search_img {
      width: 0.5rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      > img {
        width: 0.22rem;
      }
    }
    .search_input {
      flex: 1;
      font-size: 0.16rem;
      color: #fff;
    }
  }
  .data_list {
    margin-top: 0.4rem;
    .news_table {
      .address {
        .address_img {
          width: 0.25rem;
        }
      }
      .ant-table-thead {
        tr {
          height: 0.8rem;
          font-size: 0.16rem;
        }
      }
      .ant-table-tbody {
        tr {
          height: 0.6rem;
          font-size: 0.16rem;
        }
      }
    }
  }
}
