.box_gpl {
  width: 3.55rem;
  // height: 3.8rem;
  margin-right: 0.67rem;
  margin-top: 0.3rem;
  cursor: pointer;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-child(-n + 3) {
    margin-top: 0;
  }
  .img {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.06rem;
  }
  > h3 {
    font-size: 0.24rem;
    font-weight: 400;
    line-height: 0.4rem;
    color: #fff;
  }
  .time{
    color: #72898d;
    font-family:SatoshiRegular,SatoshiMedium !important;
  }
  .content_p {
    font-family:SatoshiRegular,SatoshiMedium !important;
    font-size: 0.18rem;
    color: #cccccc;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}
@media screen and (max-width: 500px) {
  .box_gpl {
    width: 48%;
    margin-right: 0;
    height: auto;
    margin-bottom: .1rem;
    margin-top: 0 !important;
  }
}